* {
  margin: 0;
  padding: 0;
  font-family: Arial, helvetica, sans-serif;
}

body {
  background: #48488b;
}

fieldset {
  border: none;
}

.navbar {
  text-align: center;
  background: #3F4070;
  display: flex;
}

.navbar h1 {
  width: 920px;
  height: 80px;
  color: white;
  font-size: 84px;
  font-family: Montserrat;
  font-weight: 400;
  word-wrap: break-word;
  margin-top: 18px;
  margin-left: 18px;
  margin-bottom: 48px;
}

.navbar h1:hover {
  cursor: pointer;
  color: #99a4e0;
  transition: color .999999999s;
}

.links {
  display: flex;
  width: 920px;
  height: 80px;
  margin-left: 18px;
  margin-bottom: 48px;
  justify-content: flex-end;
}

#navlink{
  width: 100px;
  height: 25px;
  background: #8087D4;
  color: white;
  font-family: Montserrat;
  border-radius: 10px;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-right: 31px;
  padding-left: 32px;
  font-size: 24px;
  text-decoration: none;
  text-align: center;
  margin: 20px;
  margin-top: 48px;
  margin-bottom: 26px;
}

#navlink:hover {
  background: #6768c4;
  transition: background .3s;
}

#reload-button {
  width: 112px; 
  height: 109px; 
  background: #8087D4; 
  border-radius: 9999px;
  border: none;
}

#reload-button:hover {
  background: #6768c4;
  transition: background .3s;
}

#reload {
  text-align: center;
  
}